.selectList {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.selectList ul {
  list-style: none;
}

.selectList li {
  font-size: 17px;
  height: 30px;
  padding-left: 5px;
  border-width: 1px;
  border-radius: 9999px;
  display: inline-block;
  color: white;
  background: rgb(39, 38, 38);
  padding: 5px 10px 5px 7px;
}

.plusButton {
  border: none;
  background: none;
  color: white;
  font-weight: 600;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}
