.imgCard {
  height: 200px;
  width: 300px;
  border-radius: 10px 10px 0 0;
  background: transparent;
}

.title {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.infoTop {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 0 10px 0 10px;
  align-items: center;
  line-height: 15px;
  overflow: visible;
}
.genres {
  justify-content: center;
  font-size: 14px;
  color: rgb(49, 48, 48);
  padding: 5px 0 0 15px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  width: 330px;
  justify-content: space-around;
  align-items: center;
  inline-size: min-content;
}
